<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="py-3 my-4" >
    <hr>
<!--    <ul  class="nav justify-content-center border-bottom pb-3 mb-3">-->
<!--        <li class="nav-item">-->
<!--            <a href="/tasks/" class="nav-link" style="text-align:center">Задания от меня</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--            <a href="/metasks/" class="nav-link" style="text-align:center">Задания для меня</a>-->
<!--        </li>-->


<!--    </ul>-->
    <p class="text-center text-muted">© ГБОУ города Москвы "Школа № 654 имени А.Д. Фридмана"</p>
</footer>
</body>
</html>